{% extends 'base.html' %}

{% block head %}
<title>SisfoK &#8212; Home</title>
{% endblock %}

{% block body %}
<h2 class="nobottom name">Deo Valiandro. M</h2>
<p class="sub"><code>/var/log/</code></p>
<nav>
    <ul>
        <li><a href="/todo.html">home</a></li>
        <li><a href="/about.html">about</a></li>
        <li><a href="/signature.txt">signature</a></li>
    </ul>
</nav>

<br>

<form action="/" method="post">
    <input type="text" name="content" id="content">
    <input type="submit" value="Save"></input>
</form>

<br>

<table>
    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Action</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td class="center"><code class="er">{{ task.data_created }}</code></td>
        <td class="post-title-pl">{{ task.content }}</a></td>
        <td class="center"><a href="" title="">view</a> | <a href="" title="">edit</a> | <a href="" title="">delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}