{% extends 'base.html' %}

{% block head %}
<title>SisfoK &#8212; Home</title>
{% endblock %}

{% block body %}

<h3>My log:</h3>

<table>
    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Action</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td class="center"><code class="er">{{ task.data_created }}</code></td>
        <td class="post-title-pl">{{ task.content }}</a></td>
        <td class="center"><a href="/show/{{task.id}}" title="">view</a> | <a href="" title="">edit</a> | <a href="/delete/{{task.id}}" title="">delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}